/* === Container Setup === */
.banner-container {
    --gap: 2rem;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100dvh;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.banner {
    display: flex;
    gap: var(--gap);
    flex-shrink: 0;
    min-width: 100%;
    justify-content: space-around;
    animation: banner-scroll 20s linear infinite;
}

.banner li {
    list-style: none;
    font-size: 4dvh;
    white-space: nowrap;
}

/* second banner offset */
.banner[aria-hidden="true"] {
    position: absolute;
    left: 100%;
    top: 0;
}

@keyframes banner-scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* === Layer Variations === */
/*.banner:nth-child(2) {
    top: 2dvh;
    font-size: 8dvh;
    opacity: 0.8;
}

.banner:nth-child(3) {
    top: 2dvh;
    font-size: 8dvh;
    animation-delay: 67s;
    opacity: 0.8;
}*/

/*.banner:nth-child(4) {
    top: 32dvh;
    font-size: 4dvh;
    animation-duration: 110s;
    animation-delay: 10s;
    opacity: 0.9;
}

.banner:nth-child(5) {
    top: 32dvh;
    font-size: 4dvh;
    animation-duration: 110s;
    animation-delay: 120s;
    opacity: 0.9;
}

.banner:nth-child(6) {
    top: 78dvh;
    font-size: 6dvh;
    animation-duration: 140s;
    animation-delay: 3s;
    opacity: 0.7;
}

.banner:nth-child(7) {
    top: 78dvh;
    font-size: 6dvh;
    animation-duration: 140s;
    animation-delay: 143s;
    opacity: 0.7;
}
.banner:nth-child(8) {
    top: 15dvh;
    font-size: 14dvh;
    animation-duration: 130s;
    animation-delay: 6s;
    opacity: 0.5;
}

.banner:nth-child(9) {
    top: 15dvh;
    font-size: 14dvh;
    animation-duration: 130s;
    animation-delay: 136s;
    opacity: 0.5;
}

.banner:nth-child(10) {
    top: 60dvh;
    font-size: 20dvh;
    animation-duration: 90s;
    animation-delay: 1s;
    opacity: 0.4;
}

.banner:nth-child(11) {
    top: 60dvh;
    font-size: 20dvh;
    animation-duration: 90s;
    animation-delay: 1s;
    opacity: 0.4;
}

.banner:nth-child(12) {
    top: 89dvh;
    font-size: 10dvh;
    animation-duration: 125s;
    animation-delay: 8s;
    opacity: 0.6;
}

.banner:nth-child(13) {
    top: 89dvh;
    font-size: 10dvh;
    animation-duration: 125s;
    animation-delay: 133s;
    opacity: 0.6;
}*/
